.nav-list{
    display: flex;
    list-style: none;
    padding: 10px 20px;
    color: #191970;
    text-align: left;
}
.navbar{
    display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 10px 20px;
}