*{
    font-family: 'Times New Roman', Times, serif;
}
.nav-list{
    display: flex;
    list-style: none;
    padding: 10px 20px;
    color: #091133;
    text-align: left;
    gap: 30px;
    font-weight: 400;
}
.navbar{
    display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 10px 20px;
     row-gap: 20px;
     font-size: 1em;
}
#buy-now{
    background-color: #091133;
    color: whitesmoke;
    border: none;
    padding: 4px 12px;
    text-align: center;
    font-size: 14px;
}
img{
    height: 600px;
    width: 500px;
    float: right;
    margin-left: 0%; 
}
.first-text{ 
    margin-right: 100px;
    padding-top: 50px;
    padding-left: 20px;
}
h2{
    color: #091133;
}
p{
    color: #191970 ;
    margin-right: 40em;
}
button{
    background-color: #091133;
    color: whitesmoke;
    padding: 4px 12px;
    text-align: center;
    font-size: 14px;
    border: none;
}
#learn{
    margin-left: 10px;
    background-color: rgb(255, 255, 255,.5);
    color: #091133;
    border-style: solid ;
}
.section1{
    background-color:#E7ECFF;
    height: 30em;
}
rgb(210, 216, 255)